<div class="span12">
  <table class="table table-borderd table-stripped">
    <tr>

     <%= content_tag_for(:tr, @gazettes) do |gazette| %>
     <td width="100">
       公報 No. <%= link_to(gazette.ly_id, gazette_path(gazette), :target => "_blank" ) %> 
     </td>
     <td>
        <%= gazette.excerpt_text_for_search_cache(@query_string) %>
     </td>
     <% end %>
   </tr>
 </table>

 <%= will_paginate(@gazettes)  %>
</div>