<div class="span12">
  <%= simple_form_for @verbal_question, :url => admin_gazette_verbal_question_path(@gazette,@verbal_question), :html => { :method => :put } do |f| -%>
    <%= f.input :content, :input_html => { :class => "input-xxlarge"} %>
    <div class="form-actions">
      <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn pull-right" %>
    </div>
  <% end %>
</div>