
<li> 
  <span> <%= ibutton("", gazette_verbal_question_path(@gazette,verbal_question), :class => "btn btn-small", :iclass => "icon icon-search") %> </span>
  <%= verbal_question.involved_person_list %>
</li>