
<div class="span9">

  <%= raw render_gazette_content(@gazette.content) %>

</div>

<div class="span3">
  <%= render :partial => "verbal_question", :collection =>  @verbal_questions, :as => :verbal_question %>

</div>